<template>
    <div class="home">
        <Jumbotron></Jumbotron>
        <HomeCards></HomeCards>
        <HomeSupport></HomeSupport>
        <HomePartners></HomePartners>
    </div>
</template>

<script>
    // @ is an alias to /src

    import Jumbotron from "@/components/Jumbotron.vue"
    import HomeCards from "@/components/HomeCards.vue"
    import HomeSupport from "@/components/HomeSupport"
    import HomePartners from "@/components/HomePartners.vue"

    export default {
        name: 'home',
        components: {Jumbotron, HomeCards, HomeSupport, HomePartners}
    }
</script>
