<template>
    <div>
        <div class="jumbotron jumbotron-white pricing">
            <div class="home-jumbotron">
                <h1 class="home-jumbotron--header">ERPNext Cloud Pricing</h1>
                <h3 class="home-jumbotron--header-ass">Solid hosting, priority support and backups.</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricingCard">
                                <div class="pricingCard--top">
                                    <h1>Basic</h1>
                                    <h1>$ 5</h1>
                                    <ul>
                                        <li>USD / user / month</li>
                                        <li>or $ 55 / user / year</li>
                                        <li>(Inclusive of Taxes)</li>
                                    </ul>
                                    <button>Start 14 Day Trial</button>
                                    <ul>
                                        <li><i class="fas fa-check"></i>&nbsp;All Modules</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Priority Support</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Backup + Redundancy</li>
                                    </ul>
                                </div>
                                <div class="pricingCard--bottom">
                                    <div class="pricingCard--property">
                                        <h4>Organisations</h4>
                                        <ul>
                                            <li>Single Company</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Server and Emails</h4>
                                        <ul>
                                            <li>2 GB cloud storage</li>
                                            <li>2000 emails / month</li>
                                            <li>Extensible via add-ons</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Customization</h4>
                                        <ul>
                                            <li>Customized Print Formats and Email Alerts</li>
                                            <li>20 Custom Fields</li>
                                            <li>1 Custom Form</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Integrations + API</h4>
                                        <ul>
                                            <li>Email Integration and REST API</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricingCard active">
                                <div class="pricingCard--top">
                                    <h1>Standart</h1>
                                    <h1>$ 10</h1>
                                    <ul>
                                        <li>USD / user / month</li>
                                        <li>or $ 55 / user / year</li>
                                        <li>(Inclusive of Taxes)</li>
                                    </ul>
                                    <button>Start 14 Day Trial</button>
                                    <ul>
                                        <li><i class="fas fa-check"></i>&nbsp;All Modules</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Priority Support</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Backup + Redundancy</li>
                                    </ul>
                                </div>
                                <div class="pricingCard--bottom">
                                    <div class="pricingCard--property">
                                        <h4>Organisations</h4>
                                        <ul>
                                            <li>3 Companies</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Server and Emails</h4>
                                        <ul>
                                            <li>5 GB cloud storage</li>
                                            <li>5000 emails / month</li>
                                            <li>Extensible via add-ons</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Customization</h4>
                                        <ul>
                                            <li>Customized Print Formats and Email Alerts</li>
                                            <li>Unlimited Custom Fields</li>
                                            <li>10 Custom Forms, 10 Custom Scripts</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Integrations + API</h4>
                                        <ul>
                                            <li>Email Integration and REST API</li>
                                            <li>Payment Gateways</li>
                                            <li>Dropbox, Shopify and AWS</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricingCard">
                                <div class="pricingCard--top">
                                    <h1>Pro</h1>
                                    <h1>$ 15</h1>
                                    <ul>
                                        <li>USD / user / month</li>
                                        <li>or $ 55 / user / year</li>
                                        <li>(Inclusive of Taxes)</li>
                                    </ul>
                                    <button>Start 14 Day Trial</button>
                                    <ul>
                                        <li><i class="fas fa-check"></i>&nbsp;All Modules</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Priority Support</li>
                                        <li><i class="fas fa-check"></i>&nbsp;Backup + Redundancy</li>
                                    </ul>
                                </div>
                                <div class="pricingCard--bottom">
                                    <div class="pricingCard--property">
                                        <h4>Organisations</h4>
                                        <ul>
                                            <li>Unlimited Companies</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Server and Emails</h4>
                                        <ul>
                                            <li>15 GB cloud storage</li>
                                            <li>15000 emails / month</li>
                                            <li>Extensible via add-ons</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Customization</h4>
                                        <ul>
                                            <li>Customized Print Formats and Email Alerts</li>
                                            <li>Unlimited Custom Fields</li>
                                            <li>Unlimited Custom Forms and Scripts</li>
                                        </ul>
                                    </div>
                                    <div class="pricingCard--property">
                                        <h4>Integrations + API</h4>
                                        <ul>
                                            <li>Email Integration and REST API</li>
                                            <li>Payment Gateways</li>
                                            <li>Dropbox, Shopify and AWS</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="home-jumbotron hosted">
                <h1 class="home-jumbotron--header">Support for Self Hosted</h1>
                <h3 class="home-jumbotron--header-ass">ERPNext is a 100% Free and Open Source Software. We also <br> offer
                    you support for your self hosted instance.</h3>
                <button class="btn-blue">Learn about Support for Self Hosted</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="jumbotron jumbotron-white">
                    <div class="home-jumbotron faq">
                        <h1 class="home-jumbotron--header">Frequently Asked Questions</h1>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">How do I implement ERPNext?</h3>
                            <p>ERPNext is designed for self-implementation, and most companies don't need any help, just
                                a bit of determination. To help you, there are tons of videos and other resources that
                                will help you. If you sign up for a paid account, we conduct one-on-one sessions to help
                                you configure the system.</p>
                        </div>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">Will self hosting be better?</h3>
                            <p>
                                It depends. ERPNext is 100% Free and Open Source and depending on your scale and capability, self-hosting may be the right solution for you. Learn more about our enterprise services.
                            </p>
                            <p>
                                If you are a company, the cloud may make more sense for you. If you setup ERPNext on your own, then you start with a base cost of around $40/month for a VPS, then you'll need to pay extra for email, security and backups services. After that you'll spend a few hours installing and setting up everything, and also set aside a few hours of your time each month for maintenance + software updates, or maybe get someone to do that for you. Which gets expensive pretty quick. Frappe Cloud on the other hand, takes away all of that so you can focus on what you do best.
                            </p>
                        </div>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">Can I get a one-on-one demo?</h3>
                            <p>
                                Yes, we would be happy to schedule a remote, one-on-one demo. Just send us a request for one.
                            </p>
                        </div>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">Do you have discounts for education institutes?</h3>
                            <p>Yes, we support your education institute with a 30% discount. Contact us to apply.</p>
                        </div>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">Is ERPNext available in my language?</h3>
                            <p>Most likely yes! ERPNext has been translated to more than 70 languages with the help of the community. View the translation portal for a full list of supported languages.</p>
                        </div>
                        <div class="cinemaArticle">
                            <h3 class="cinemaArticle--header">Can I pay via credit card or wire transfer?</h3>
                            <p>Yes, you can make payment from within your account using your credit card. If you prefer wire us the money, here are our bank details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Pricing"
    }
</script>

<style scoped>

</style>