<template>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer--links">
                        <ul>
                            <h1>Çözümler</h1>
                            <li>Domain-Hosting</li>
                            <li>Kullanıcıya Özel Tasarım</li>
                            <li>7/24 Canlı Destek</li>
                            <li>Admin Panel</li>
                            <li>Ücretsiz Web Site</li>
                            <li>Fiyatlandırma Seçenekleri</li>
                            <li>Satış Takip</li>
                            <li>Faturalandırma</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer--links">
                        <ul>
                            <h1>Servisler</h1>
                            <li>Bulut</li>
                            <li>Destek</li>
                            <li>Mobil Uygulama</li>
                            <li>Şartlar</li>
                            <li>Gizlilik</li>
                            <li>CineCinema Giriş</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer--links">
                        <ul>
                            <h1>CineCinema</h1>
                            <li>GitHub</li>
                            <li>Foundation</li>
                            <li>Manual</li>
                            <li>YouTube</li>
                            <li>Forum</li>
                            <li>Hikayeler</li>
                            <li>Konferans</li>
                            <li>Güvenlik</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer--links">
                        <ul>
                            <h1>Hakkımızda</h1>
                            <li>CineCinema</li>
                            <li>COS Software</li>
                            <li>Takım</li>
                            <li>İletişim</li>
                        </ul>
                        <ul>
                            <h1>Sosyal Medya</h1>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Medium</li>
                        </ul>
                    </div>
                </div>
                <div class="my-footer-text">© COS Software. Yasal Uyarı ve Kullanım Koşullarını Okuyun.</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>