<template>
    <div class="header">
        <div class="cinema-nav container">
            <div class="row">
                <div class="col-md-2 float-right cinema-nav--logo">
                    <a href="/">
                        <img src="../assets/logo.png" alt="LOGO" width="100">
                    </a>
                </div>
                <div class="col-md-7 cinema-nav--link">
                    <ul>
                        <li class="nav--link-dropdown" @click="cozumler = !cozumler">Çözümler&nbsp;<i class="fas" :class="cozumler ? 'fa-caret-up' : 'fa-caret-down'"></i>
                            <div v-if="cozumler" class="dropdown-menu-a">
                                <ul>
                                    <li>Domain-Hosting</li>
                                    <li>Kullanıcıya Özel Tasarım</li>
                                    <li>7/24 Canlı Destek</li>
                                    <li>Admin Panel</li>
                                    <li>Ücretsiz Web Site</li>
                                    <li>Fiyatlandırma Seçenekleri</li>
                                    <li>Satış Takip</li>
                                    <li>Faturalandırma</li>
                                </ul>
                            </div>
                        </li>
                        <router-link to="/pricing" tag="li">Fiyatlandırma</router-link>
                        <li class="nav--link-dropdown" @click="servisler = !servisler">Servisler&nbsp;<i class="fas" :class="servisler ? 'fa-caret-up' : 'fa-caret-down'"></i>
                            <div v-if="servisler" class="dropdown-menu-a">
                                <ul>
                                    <li>Destek</li>
                                    <li>Kurulum</li>
                                    <li>Satışlarla İrtibat Kurun</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav--link-dropdown" @click="partner = !partner">Ortaklar&nbsp;<i class="fas" :class="partner ? 'fa-caret-up' : 'fa-caret-down'"></i>
                            <div v-if="partner" class="dropdown-menu-a">
                                <ul>
                                    <li>Ortak Listesi</li>
                                    <li>Ortak Olun</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 float-right cinema-nav--company">
                    <ul>
                        <li>Dokümanlar</li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Header',
        data:function () {
            return {
                cozumler: false,
                servisler: false,
                partner: false
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
