<template>
    <div class="jumbotron">
        <div class="container home-support">
            <div class="row">
                <div class="col-md-4">
                    <div class="home-card">
                        <div class="home-card--main">
                            <h1 class="home-card--title">Accounting</h1>
                            <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                        </div>
                        <div class="home-card--bottom">Buy Support</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-card">
                        <div class="home-card--main">
                            <h1 class="home-card--title">Accounting</h1>
                            <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                        </div>
                        <div class="home-card--bottom">Buy Support</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-card">
                        <div class="home-card--main">
                            <h1 class="home-card--title">Accounting</h1>
                            <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                        </div>
                        <div class="home-card--bottom">Buy Support</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomeSupport"
    }
</script>

<style scoped>

</style>