<template>
    <div class="container home-cards">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="home-card">
                    <div class="home-card--main">
                        <h1 class="home-card--title">Accounting</h1>
                        <p class="home-card--text">Get a real time view of your cash flow. Full fledged accounting module covering every aspect of book keeping.</p>
                    </div>
                    <div class="home-card--bottom"></div>
                </div>
            </div>
            <p class="home-cards--info">Belgelerin tamamını oku</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomeCards"
    }
</script>

<style scoped>

</style>