<template>
    <div class="jumbotron jumbotron-white">
        <div class="container partners">
            <div class="row">
                <div class="home-jumbotron">
                    <h1 class="home-jumbotron--header">Kullanıcılar tarafından sevilen</h1>
                    <h3 class="home-jumbotron--header-ass">Dünyada 5000'den fazla sinema salonu tarafından kullanılıyor</h3>
                    <div class="partners-image">
                        <img src="../assets/partners.png" class="img-fluid" alt="PARTNERS">
                    </div>
                    <router-link to="/pricing" tag="button" class="btn-blue">Hemen Başla</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomePartners"
    }
</script>

<style scoped>

</style>