<template>
    <div class="jumbotron jumbotron-white">
        <div class="home-jumbotron">
            <h1 class="home-jumbotron--header">Sinema Salonunuzun İhtiyacı Olan Her Şey</h1>
            <h3 class="home-jumbotron--header-ass">CineCinema, dünyanın en iyi 100% açık kaynaklı Optimizasyonudur</h3>
            <router-link to="/pricing" tag="button" class="btn-blue">Hemen Başla</router-link>
            <p class="home-jumbotron--header-info">CineCinema'yı 14 gün boyunca ücretsiz deneyin</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Jumbotron"
    }
</script>

<style scoped>

</style>