body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  color: #36414c;
}

ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

button:focus {
  outline: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .footer--links {
    margin: 0 auto;
    display: flex;

    ul {
      margin: 0 auto;
      li {
        text-align: center;
      }
    }

    h1 {
      text-align: center;
    }
  }

  .cinema-nav--link, .cinema-nav--company {
    display: none;
  }
}

.container {
  padding-right: 145px;
  padding-left: 145px;
}

.jumbotron-white {
  background: #fff !important;
  padding: 0;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.jumbotron {
  border-radius: 0 !important;
  background: #f5f7fa;
  border-top: 1px solid #ebecf1;
  border-bottom: 1px solid #ebecf1;
}