@import "global";

.header {
  border-bottom: 1px solid #ebecf1;
  color: #8d99a6;
  font-size: 15px;

  .cinema-nav {
    margin-top: 12px;
    margin-bottom: 12px;
    height: auto;

    .dropdown-menu-a {
      position: absolute;
      padding: 10px 0;
      border-radius: 5px;
      top: 35px;
      background: #fff;
      border: 1px solid #ebecf1;
      z-index: 1000;
      li {
        float: none;
        padding: 0 20px;
        font-size: 13px;
        color: #000;

        &:hover {
          background: #8d99a6;
        }
      }
    }

    &--logo {
      cursor: pointer;
    }

    &--link, &--company {
      ul {
        li {
          float: left;
          padding-left: 20px;
          cursor: pointer;
          line-height: 2;
          font-weight: 400;
        }
      }
    }
  }
}


.home-jumbotron {
  display: table;
  margin: 0 auto;
  padding: 110px 0;

  &--header {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: #36414c;
    line-height: 1.2;
    margin: 15px 0;
  }

  &--header-ass {
    text-align: center;
    color: #8d99a6;
    font-size: 20px;
    margin: 15px 0;
  }

  &--header-info {
    text-align: center;
    color: #8d99a6;
    font-size: 13px;
    margin: 15px 0;
  }

  .partners-image {
    margin: 50px 0;
  }

  button {
    display: flex;
    margin: 0 auto;
    background: #5e64ff;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #5e64ff;

    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.12);
    }
  }
}

.home-cards {
  padding-bottom: 100px;
  &--info {
    text-align: center;
    color: #8d99a6;
    font-size: 15px;
    display: flex;
    margin: 0 auto;
    padding: 15px 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .home-card {
    &--main {
      border-bottom-right-radius: 5px!important;
      border-bottom-left-radius: 5px!important;
    }
  }
}

.home-card {
  border: 1px solid #d1d8dd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 25px;
  position: relative;
  border-radius: 5px;

  &:hover {
    border: 1px solid #000;
  }

  &--main {
    overflow: hidden;
    padding: 15px;
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &--title {
    color: #36414c;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &--text {
    color: #8d99a6;
    font-size: 15px;
  }

  &--bottom {
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
    border-top: 1px solid #d1d8dd;
    background: #fafbfc;
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.home-support {
  .home-card {
    &:hover {
      border: 1px solid #d1d8dd;
    }
    &--bottom {
      display: block!important;
    }
  }
}

.footer {
  background: #36414c;
  padding-top: 75px;
  padding-bottom: 75px;

  &--links {
    h1 {
      font-weight: 600;
      color: #fafbfc;
      font-size: 16px;
      margin-bottom: 10px;
    }

    li {
      color: #8d99a6;
      cursor: pointer;
      font-size: 15px;
      line-height: 2.1;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .my-footer-text {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: #8d99a6;
    font-size: 15px;
    line-height: 2.1;
  }
}


.pricing {
  .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

.pricingCard {
  margin: 25px 0;
  padding: 15px;
  border: 1px solid #d1d8dd;
  border-radius: 5px;


  &.active {
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.12);
    border-left: none;
    border-right: none;
    button {
      opacity: 1;
    }
  }

  li {
    margin-bottom: 5px;
    color: #8d99a6;
    line-height: 1.8;
    font-size: 15px;
    clear: both;
  }

  &--top {
    border-bottom: 1px solid #d1d8dd;
    padding-bottom: 25px;

    h1 {
      color: #36414c;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 1.5rem;
    }

    button {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      float: left;
      clear: both;
      padding: 5px 10px;
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }

  &--bottom {
    padding-top: 25px;

    .pricingCard--property {
      padding-bottom: 35px;

      h4 {
        color: #36414c;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.hosted{
  padding: 50px 0;

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  button {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 40px;
  }
}

.faq {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .cinemaArticle {
    margin: 40px 0;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 25px;
      font-size: 15px;
    }
  }
}
